#container {
	height: 400px;
}

.highcharts-figure,
.highcharts-data-table table {
	min-width: 320px;
	max-width: 800px;
	margin: 1em auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}

.highcharts-data-table caption {
	padding: 1em 0;
	font-size: 1.2em;
	color: #555;
}

.highcharts-data-table th {
	font-weight: 600;
	padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
	padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
	background: #f8f8f8;
}

.highcharts-data-table tr:hover {
	background: #f1f7ff;
}

.highcharts-figure,
.highcharts-data-table table {
	min-width: 360px;
	max-width: 800px;
	margin: 1em auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}

.highcharts-data-table caption {
	padding: 1em 0;
	font-size: 1.2em;
	color: #555;
}

.highcharts-data-table th {
	font-weight: 600;
	padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
	padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
	background: #f8f8f8;
}

.highcharts-data-table tr:hover {
	background: #f1f7ff;
}

/* ENDKONSELING */
/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
	margin-top: -134px;
	padding: 0;
  
  }
  
  .countss {
	margin-top: -155px;
	padding: 0;
  }
  .counts .kasus:before {
	content: "";
	position: absolute;
	top: -75px;
	left: -88px;
	width: 100%;
	height: 100%;
	background-image: url(../img/love.png);
	background-repeat: no-repeat;
	z-index: -1;
  }
  .counts .end:after {
	content: "";
	position: absolute;
	top: -50px;
	right: -1040px;
	width: 100%;
	height: 100%;
	background-image: url(../img/sun.png);
	background-repeat: no-repeat;
	z-index: 1;
  }
   .count-box {
	align-items: center;
	width: 100%;
	background: #fff;
	border-radius: 11px;
	display: inline-grid;

  }
   .count-box .text-ke{
	margin-left: 20px;
  }
   .count-box i {
	font-size: 42px;
	line-height: 0;
	margin-right: 20px;
	color: #c1d6f5;
  }
   .count-box span {
	font-size: 17px;
    display: flex;
    font-weight: 600;
    background-color: #4db9e626;
    border-radius: 5px;
    padding-left: 10px;
    color: #35afe3;
    align-items: center;
    width: auto;
    padding: 0 10px;
  }
   .count-box p {
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
	color: #898989;
	margin-bottom: 3px;
	font-size: 12px;
	font-weight: 500;
	display: flex;
  }

  .count-box-khusus {
	align-items: center;
	width: 100%;
	background: #fff;
	border-radius: 11px;
	padding: 10px;
	height: 180px;
    display: inline-grid;

  }
   .count-box-khusus .text-ke{
	margin-left: 20px;
  }
   .count-box-khusus i {
	font-size: 42px;
	line-height: 0;
	margin-right: 20px;
	color: #c1d6f5;
  }
   .count-box-khusus span {
	font-size: 17px;
    display: flex;
    font-weight: 600;
    background-color: #4db9e626;
    border-radius: 5px;
    padding-left: 10px;
    color: #35afe3;
    align-items: center;
    width: auto;
    padding: 0 10px;
  }
   .count-box-khusus p {
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
	color: #898989;
	margin-bottom: 3px;
	font-size: 12px;
	font-weight: 500;
	display: flex;
  }

  .count-box-sejahtera {
	align-items: center;
	width: 100%;
	background: #fff;
	border-radius: 11px;
	height: 121px;
    display: inline-grid;
  }
  .count-box-sejahtera .text-ke{
	margin-left: 20px;
  }
   .count-box-sejahtera i {
	font-size: 42px;
	line-height: 0;
	margin-right: 20px;
	color: #c1d6f5;
  }
   .count-box-sejahtera span {
	font-size: 17px;
    display: flex;
    font-weight: 600;
    background-color: #4db9e626;
    border-radius: 5px;
    padding-left: 10px;
    color: #35afe3;
    align-items: center;
    width: auto;
    padding: 0 10px;
  }
   .count-box-sejahtera p {
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
	color: #898989;
	margin-bottom: 3px;
	font-size: 12px;
	font-weight: 500;
	display: flex;
  }

  .count-box-keluarga {
	align-items: center;
	width: 100%;
	background: #fff;
	border-radius: 11px;
	height: 121px;
    display: inline-grid;

  }
   .count-box-keluarga .text-ke{
	margin-left: 20px;
  }
   .count-box-keluarga i {
	font-size: 42px;
	line-height: 0;
	margin-right: 20px;
	color: #c1d6f5;
  }
   .count-box-keluarga span {
	font-size: 17px;
    display: flex;
    font-weight: 600;
    background-color: #4db9e626;
    border-radius: 5px;
    padding-left: 10px;
    color: #35afe3;
    align-items: center;
    width: auto;
    padding: 0 10px;
  }
   .count-box-keluarga p {
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
	color: #898989;
	margin-bottom: 3px;
	font-size: 12px;
	font-weight: 500;
	display: flex;
  }

  .count-box-kebebasan {
	align-items: center;
	width: 100%;
	background: #fff;
	border-radius: 11px;
	padding: 10px;
	height: 118px;
    display: inline-grid;

  }
   .count-box-kebebasan .text-ke{
	margin-left: 20px;
  }
   .count-box-kebebasan i {
	font-size: 42px;
	line-height: 0;
	margin-right: 20px;
	color: #c1d6f5;
  }
   .count-box-kebebasan span {
	font-size: 17px;
    display: flex;
    font-weight: 600;
    background-color: #4db9e626;
    border-radius: 5px;
    padding-left: 10px;
    color: #35afe3;
    align-items: center;
    width: auto;
    padding: 0 10px;
  }
   .count-box-kebebasan p {
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
	color: #898989;
	margin-bottom: 3px;
	font-size: 12px;
	font-weight: 500;
	display: flex;
  }
  
  .samping{
	display:flex;
  }
  
  .samping img {
	width: 40px;
	height: 40px;
	align-self: center;
  }

  .accordion-item {
	background-color: white;
	box-shadow: 0px 0 30px rgb(1 41 112 / 8%);
	border-radius: 20px;
  }
  
  .accordion-flush .accordion-item .accordion-button {
	border-radius: 11px;
  }
  
  .accordion-item:last-of-type .accordion-button.collapsed {
	border-bottom-right-radius: 11px;
	border-bottom-left-radius: 11px;
  }
  
  .accordion-button:not(.collapsed) {
	color: #0c63e4;
	background-color: #ffffff;
	box-shadow: none;
  }
  
  .accordion-body p{
	font-size: 12px !important;
	font-weight: 500 !important;
  } 
  
  .accordion-button::after {
	  flex-shrink: 0;
	  width: 1.25rem;
	  height: 1.25rem;
	  margin-left: auto;
	  content: "";
	  background-image: url(../images/arrow.png);
	  background-repeat: no-repeat;
	  background-size: 1.25rem;
	  transition: transform .2s ease-in-out;
  }
  
  .accordion-button:not(.collapsed)::after {
	background-image:  url(../images/arrow.png);
	transform: rotate(-180deg);
  }
  

  
  
