body {
    margin: 0;
    padding: 0;
    background-color: #fcfcfc;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 10px;
    margin: 1cm auto;
    /* border: 1px #D3D3D3 solid; */
    border-radius: 5px;
    background: #f9f9f9;
    
}


@page {
    size: A4;
    margin: 0;
}
@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

.card-ak h5{
    font-size: 15px;
    font-weight: 700;
}
.card-ak p{
    font-size: 12px;
}
.card-ak .ttd p{
    font-size: 10px;
}
table{
    font-size: 12px!important;
}

hr {
    border: 2px solid black;
}

.cf {
    font-size: 14px !important;
}

